<div class="w-100 h-hull m-8">
  @if(usersListQuery()?.data; as data) {
    <table class="table-fixed w-full">
      <thead>
        <tr>
          <th class="pb-4 text-left">Avatar</th>
          <th class="pb-4 text-left">FirstName</th>
          <th class="pb-4 text-left">LastName</th>
          <th class="pb-4 text-left">Age</th>
        </tr>
      </thead>
      <tbody>
        <user-table-record
          [data]="data.users"
          [isLoading]="!!usersListQuery()?.isFetching"
        />
      </tbody>
    </table>
  }
</div>

